**/__pycache__/
data/*
!/data/README.md
!/data/tag.json
!/data/taskforce.json
!/data/series.json
!/data/goi.json
!/data/facility.json
!/data/character.json
!/data/canon.json
!/data/attribute.json
model/
Qwen2-main/
SCP-CN/
SCP-CN.zip
parser/
rag/openai_api.py
DeepKE-main/
oneke/data/ner/*
!oneke/data/ner/sample.json
!oneke/data/ner/train.json
!oneke/data/ner/test.json
!oneke/data/ner/schema.json